@charset "utf-8";

* {
	box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    z-index: 1000;
	border-radius: 5px 5px 0 0;
}

.icon {
	cursor: pointer;
	font-size: 30px;
}
.icon.fa-solid {
	display: none;
}
.icon.active {
	display: inline;
}

.container {
    margin-top: 50px;
    height: calc(100% - 50px);
}

.menu-list {
    position: fixed;
	left: -200px;
    top: 45px;
    bottom: 0;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
	border-radius: 0px 8px 8px;
	transition: all 0.5s ease-in-out;
}

.menu-list.active {
	transform: translateX(200px);
}

.menu-list a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
}

.menu-list a:hover {
    background-color: #ddd;
}

.content {
    padding: 20px 50px;
    overflow: auto;
	transition: all 0.5s ease-in-out;
}


@media (min-width:1200px){
.content.active {
 	margin-left: calc(20% - 50px);
    padding: 20px;
    overflow: auto;
}

.menu-list.active {
    position: fixed;
    top: 45px;
    bottom: 0;
    width: calc(20% - 50px);
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
	border-radius: 0px 8px 8px;
}
}
