* {
	box-sizing: border-box;
}




/* CSS پایه */
.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
}

.seasons {
	border-radius: 12px;
    background-color: #f4f4f4;
    padding: 16px;
    border: 1px solid #ddd;
    min-width: 275px;
}

/* ریسپانسیو برای تبلت‌ها و دسکتاپ‌ها */
@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(2, 1fr); /* دو ستون در عرض */
    }
}

@media (min-width: 900px) {
    .content {
        grid-template-columns: repeat(3, 1fr); /* سه ستون در عرض */
    }
}

@media (min-width: 1200px) {
    .content {
        grid-template-columns: repeat(4, 1fr); /* چهار ستون در عرض */
    }
}
