
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    direction: rtl; /* جهت متن راست به چپ برای زبان فارسی */
}
pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
}
code {
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}
.codehilite {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}
h1, h2 {
    display: none; /* مخفی کردن تگ‌های h1 و h2 */
}
h3 {
    font-size: 1.75em;
    margin-top: 1em;
}