@charset "utf-8";

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Variable.woff') format('woff'),
        url('../fonts/Vazir-Variable.woff2') format('woff2');
    /* font-weight: bold; */
    font-style: normal;
}


:root {
    --code-BG: #021028;
    --comment-color: #B18EB1;
    --number-color: #ff4800;
    --names-color: #61AEEE;
    --keyword-color: #F92672;
    --True-False: #56B6C2;
    --strings: #98c379;
}


* {
    box-sizing: border-box;
    outline: none;
    border: none;
}

body,
html {
    font-family: 'Vazir', sans-serif;
    height: 100%;
    margin: 0;
}

/* --------------------- These items affect the entire project --------------------- */
p {
    font-weight: 500;
}

/* -------------------------------- for season zero -------------------------------- */
li {
    margin-bottom: 7px;
}

li code {
    display: inline-block;
    direction: ltr;
}
/* ------------------------------------------------------------------------------- */

/* navigation */
nav.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.django-eBooklet {
    margin: 0;
    padding: 0;
}

.icon {
    cursor: pointer;
}

.icon.fa-solid {
    display: none;
}

.icon.active {
    display: inline;
}

.back-home-icon {
    font-size: 1.5625rem;
    color: white;
}
/* ----------------------------------------------------------------------------------------------- */

/* container */
.container {
    height: calc(100% - 50px);
}
/* ----------------------------------------------------------------------------------------------- */

/* menu-list */
.menu-list {
    overflow-y: auto;
    height: 91.5vh;
    top: 65px;
    position: fixed;
    z-index: 100;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 8px 8px 0;
    transition: all 0.5s ease-in-out;
}


.menu-list a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
}

.menu-list a:hover {
    background-color: #ddd;
}
/* -------------------------------------------------------------------------------------------------- */

/* content */
.content {
    padding: 20px 75px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}
/* ---------------------------------------------------------------------------------------------------- */

/* Media Queries */
@media (min-width: 1200px) {
    nav.menu {
        padding: 15px 25px;
    }

    .icon {
        font-size: 2rem;
        /* 37px */
    }

    .container {
        margin-top: 60px;
    }

    .content.active {
        margin-right: calc(23vw - 50px);
        padding: 20px;
        overflow: auto;
    }

    .menu-list {
        width: calc(23vw - 50px);
        right: calc(-23vw + 50px);
    }

    .menu-list.active {
        top: 62px;
        bottom: 0;
        transform: translateX(calc(-23vw + 50px));
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    nav.menu {
        padding: 15px 25px;
    }

    .icon {
        font-size: 2.625rem;
        /* 42px */
    }

    .container {
        margin-top: 70px;
    }

    .menu-list {
        width: calc(35vw - 50px);
        right: calc(-35vw + 50px);
    }

    .menu-list.active {
        top: 65px;
        bottom: 0;
        transform: translateX(calc(-35vw + 50px));
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    nav.menu {
        padding: 15px 25px;
    }

    .icon {
        font-size: 2.625rem;
        /* 42px */
    }

    .container {
        margin-top: 70px;
    }

    .menu-list {
        width: 40vw;
        right: -40vw;
    }

    .menu-list.active {
        top: 80px;
        bottom: 0;
        transform: translateX(-40vw);
    }

    .content {
        padding: 20px 45px;
    }
}

@media (max-width: 600px) {
    nav.menu {
        padding: 15px 25px;
    }

    .icon {
        font-size: 1.9rem;
    }

    .container {
        margin-top: 40px;
    }

    .content {
        padding: 20px 30px;
    }

    .menu-list {
        width: 70vw;
        right: -70vw;
    }

    .menu-list.active {
        top: 57px;
        bottom: 0;
        transform: translateX(-70vw);
    }
}
/* -------------------------------------------------------------------------------------------------------- */


/* Style 'code box' and structure inside it  */
.code-box {
    margin-bottom: 20px;
    text-align: left;
    direction: ltr;
    background-color: #00122b;
    border-radius: 12px;
}

pre {
    margin: 0;
    padding: 18px 25px;
    overflow-x: auto;
    color: #ABB2BF;
    font-family: "Consolas", monospace;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;
}

.code-box pre span {
    color: #ABB2BF;
    font-family: "Consolas", monospace;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 400;
}




p:has(> code) {
    direction: ltr;
    text-align: left;
}

code {
    background-color: #ffc400;
    padding: 5px 12px;
    border-radius: 15px;

    font-family: "Consolas", monospace;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
}


td.linenos .normal {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

span.linenos {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

td.linenos .special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}

span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}

.code-box .hll {
    background-color: #ffffcc
}

.code-box {
    background: #021028;
}

/* ---------------------------------------------------------- */
/* Comment */
.code-box .c {
    color: #3D7B7B;
    font-style: italic
}

/* Error */
.code-box .err {
    border: 1px solid #FF0000
}

/* Keyword */
.code-box .k {
    color: #F92672;
    font-weight: bold
}

/* Operator */
.code-box .o {
    color: #ff7700
}

/* Comment.Hashbang */
.code-box .ch {
    color: #3D7B7B;
    font-style: italic
}

/* Comment.Multiline */
.code-box .cm {
    color: #3D7B7B;
    font-style: italic
}

/* Comment.Preproc */
.code-box .cp {
    color: #9C6500
}

/* Comment.PreprocFile */
.code-box .cpf {
    color: #3D7B7B;
    font-style: italic
}

/* Comment.Single */
.code-box .c1 {
    color: #B18EB1;
    font-style: italic
}

/* Comment.Special */
.code-box .cs {
    color: #3D7B7B;
    font-style: italic
}

/* Generic.Deleted */
.code-box .gd {
    color: #A00000
}

/* Generic.Emph */
.code-box .ge {
    font-style: italic
}

/* Generic.EmphStrong */
.code-box .ges {
    font-weight: bold;
    font-style: italic
}

/* Generic.Error */
.code-box .gr {
    color: #E40000
}

/* Generic.Heading */
.code-box .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Inserted */
.code-box .gi {
    color: #008400
}

/* Generic.Output */
.code-box .go {
    color: #717171
}

/* Generic.Prompt */
.code-box .gp {
    color: #000080;
    font-weight: bold
}

/* Generic.Strong */
.code-box .gs {
    font-weight: bold
}

/* Generic.Subheading */
.code-box .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Traceback */
.code-box .gt {
    color: #0044DD
}

/* Keyword.Constant */
.code-box .kc {
    color: #56B6C2;
    font-weight: bold
}

/* Keyword.Declaration */
.code-box .kd {
    color: #008000;
    font-weight: bold
}

/* Keyword.Namespace */
.code-box .kn {
    color: #F92672;
    font-weight: bold
}

/* Keyword.Pseudo */
.code-box .kp {
    color: #008000
}

/* Keyword.Reserved */
.code-box .kr {
    color: #008000;
    font-weight: bold
}

/* Keyword.Type */
.code-box .kt {
    color: #B00040
}

/* Literal.Number */
.code-box .m {
    color: #666666
}

/* Literal.String */
.code-box .s {
    color: #BA2121
}

/* Name.Attribute */
.code-box .na {
    color: #687822
}

/* Name.Builtin */
.code-box .nb {
    color: #008000
}

/* Name.Class */
.code-box .nc {
    color: #61AEEE;
    font-weight: bold
}

/* Name.Constant */
.code-box .no {
    color: #880000
}

/* Name.Decorator */
.code-box .nd {
    color: #AA22FF
}

/* Name.Entity */
.code-box .ni {
    color: #717171;
    font-weight: bold
}

/* Name.Exception */
.code-box .ne {
    color: #CB3F38;
    font-weight: bold
}

/* Name.Function */
.code-box .nf {
    color: #61AEEE
}

/* Name.Label */
.code-box .nl {
    color: #767600
}

/* Name.Namespace */
.code-box .nn {
    color: #61AEEE;
    font-weight: bold
}

/* Name.Tag */
.code-box .nt {
    color: #008000;
    font-weight: bold
}

/* Name.Variable */
.code-box .nv {
    color: #eaff00
}

/* Operator.Word */
.code-box .ow {
    color: #AA22FF;
    font-weight: bold
}

/* Text.Whitespace */
.code-box .w {
    color: #bbbbbb
}

/* Literal.Number.Bin */
.code-box .mb {
    color: #666666
}

/* Literal.Number.Float */
.code-box .mf {
    color: #666666
}

/* Literal.Number.Hex */
.code-box .mh {
    color: #666666
}

/* Literal.Number.Integer */
.code-box .mi {
    color: #00ff91
}

/* Literal.Number.Oct */
.code-box .mo {
    color: #666666
}

/* Literal.String.Affix */
.code-box .sa {
    color: #BA2121
}

/* Literal.String.Backtick */
.code-box .sb {
    color: #BA2121
}

/* Literal.String.Char */
.code-box .sc {
    color: #BA2121
}

/* Literal.String.Delimiter */
.code-box .dl {
    color: #BA2121
}

/* Literal.String.Doc */
.code-box .sd {
    color: #BA2121;
    font-style: italic
}

/* Literal.String.Double */
.code-box .s2 {
    color: #00bdff
}

/* Literal.String.Escape */
.code-box .se {
    color: #AA5D1F;
    font-weight: bold
}

/* Literal.String.Heredoc */
.code-box .sh {
    color: #BA2121
}

/* Literal.String.Interpol */
.code-box .si {
    color: #A45A77;
    font-weight: bold
}

/* Literal.String.Other */
.code-box .sx {
    color: #008000
}

/* Literal.String.Regex */
.code-box .sr {
    color: #A45A77
}

/* Literal.String.Single */
.code-box .s1 {
    color: #ceff00
}

/* Literal.String.Symbol */
.code-box .ss {
    color: #19177C
}

/* Name.Builtin.Pseudo */
.code-box .bp {
    color: #c300ff
}

/* Name.Function.Magic */
.code-box .fm {
    color: #61AEEE
}

/* Name.Variable.Class */
.code-box .vc {
    color: #19177C
}

/* Name.Variable.Global */
.code-box .vg {
    color: #19177C
}

/* Name.Variable.Instance */
.code-box .vi {
    color: #19177C
}

/* Name.Variable.Magic */
.code-box .vm {
    color: #7bff00
}

/* Literal.Number.Integer.Long */
.code-box .il {
    color: #666666
}

/* symbols(., *, (),... */
.code-box .p {
    color: #ff8800
}


@media (max-width:450px) {
    code {
        font-size: 0.8rem;
    }

}
/* ----------------------------------------------------------------------------------------------------- */

/* Styling the 'div' tag that holds the 'copy code' structure */
.language {
    font-size: 0.875rem;
}

.copy-icon {
    cursor: pointer;
    color: #e0e0e0;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
}

.code-info {
    /* background-color: #505050; */
    background-color: #192a45;
    border-radius: 12px 12px 0 0;
    padding: 8px 16px;
    color: #e0e0e0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* style for footer */
footer * {
    margin: 0;
}

footer {
    overflow-x: hidden;
    margin-top: 15px;
    box-shadow: 0 -2px 13px rgba(128, 128, 128, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    padding: 15px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ------------------------------------------------------- */


/* Style for the text at the top of the footer */
.text-box {
    direction: rtl;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.text-box .pipe {
    height: 45px;
    width: 2px;
    background-color: gray;
}

.text-box .texts {
    text-align: right;
}

.text-box .text-h4 {
    font-size: 1.01rem;
}

.text-box .text-p {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #696969;
}

.heart {
    font-size: 1.25rem;
}

.text-p .bold-text {
    font-weight: bolder;
    font-size: 0.875rem;
    margin-right: 5px;
}
/* ---------------------------------------------------------- */

/* line between two boxes */
.line {
    width: 70%;
    height: 3px;
    background-color: gray;
    border-radius: 3px;
    margin-bottom: 10px;
}
/* ----------------------------------------------------------------------------------------- */

/* pack social media & about us */
.packing {
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    gap: 8px;
    margin-bottom: 25px;
}
/* --------------------------------------------- */


/* style for social box and details */
.social-media {
    padding: 18px 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.social-media h3 {
    font-size: 1.15rem;
}

/* ------------------- details of social-media style ------------------- */

.social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

a.social-link {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;

    position: relative;
    display: block;
    text-align: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(75deg, #ddd, #fff);
    padding: 6.5px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 6px 15px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.35s;
}

a.social-link:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

i.fa-brands {
    font-size: 2.4375rem;
    color: #262626;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(75deg, #fff, #ddd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands::before {
    transition: 0.28s linear;
}

/* -------------------------------------------------------- */
a {
    transition: all 0.3s ease;
}

a:hover {
    transform: scale(0.97);
}
/* ---------------------------------------------------------- */

/* the color for social-media icons when 'hover' them */
a:nth-child(1):hover .fa-brands::before {
    background: radial-gradient(circle at 33% 100%, #F9FF00 4%, #E92717 30%, #EB0E5C 62%, #6B0089 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: transparent;
    background-clip: text;
}


a:nth-child(2):hover .fa-brands::before {
    color: #FF0000;
}

a:nth-child(3):hover .fa-brands::before {
    color: #8856d3;
}

a:nth-child(4):hover .fa-brands::before {
    color: rgba(0, 166, 224, 1.00);
}

/* ------------------------------------------------------ */

/* style for about us box */
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 18px 5px;
    text-align: center;
}

.about-us h3 {
    font-size: 1.15rem;
}

.about-us p {
    font-weight: bold;
    font-size: 0.95rem;
    color: #373737;
}

.more-contact-us {

    width: auto;
    padding: 8px 30px;
    background-image: linear-gradient(30deg ,#01d7bdb9, #3e82fef1);
    border-radius: 25px;
    margin: auto;
}

.more-contact-us a {    
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Vazir', sans-serif;
}
/* --------------------------------------------------------- */

/* style for copyright box */
div.copy-right {
    direction: ltr;
    width: 100vw;
    margin-bottom: -15px;
    padding: 18px 12px;
    color: white;
    background-color: #030024;
}

.copy-right .bold-copy {
    font-weight: bold;
}

p.copyright-text {
    background-image: linear-gradient(to right, #f79c48 20%, #ff8000 40%, #f79c48);
    background-size: 30%;
    animation: gradient 6s infinite ease-in-out;
    text-align: center;
    width: 100%;
    background-clip: text;
    color: transparent;
}
/* ------------------------------------------------------------- */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* ----------------------------------------------------------------------------------------- */

@media (min-width:1750px) {
    .packing {
        justify-content: space-around;
    }
}

@media (min-width:900px) and (max-width:1200px) {
    .text-box .text-h4 {
        font-size: 0.95rem;
    }

    .social-media h3 {
        font-size: 1.12rem;
    }

    .about-us h3 {
        font-size: 1.12rem;
    }

    .about-us {
        width: 53%;
    }

    a.social-link {
        width: 58px;
        height: 58px;
    }

    .packing {
        padding: 0 10px;
    }

    i.fa-brands {
        font-size: 2.0625rem;
    }

    .about-us p {
        font-size: 0.9rem;
        color: #373737;
    }

    footer {
        padding: 15px 13px;
    }
}

@media (max-width:900px) {
    .text-box .text-h4 {
        font-size: 0.93rem;
    }

    .social-media h3 {
        font-size: 1.12rem;
    }

    .about-us h3 {
        font-size: 1.12rem;
    }

    .packing {
        padding: 0 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-direction: column;

    }
}

@media (max-width:750px) {
    .about-us p {
        font-weight: 500;
    }
}

@media (max-width:500px) {
    footer {
        padding: 15px;
    }

    .packing {
        margin-bottom: 10px;
    }

    .about-us p {
        font-weight: normal;
    }

    .line {
        margin-bottom: 0;
    }

    .text-box .text-h4 {
        font-size: 0.87rem;
    }

    .text-box .text-p {
        font-size: 0.79rem;
    }

    a.social-link {
        width: 13.5vw;
        height: 13.5vw;
        padding: 5px;
    }

    i.fa-brands {
        font-size: 7.5vw;
    }

    .social-box {
        gap: 16px;
    }
}


@media (max-width:450px) {
    .text-box .text-h4 {
        font-size: 0.9rem;
    }

    .text-box .text-p {
        font-size: 0.75rem;
    }

    .social-media h3 {
        font-size: 0.98rem;
    }

    .about-us h3 {
        font-size: 0.98rem;
    }

    p.copyright-text {
        font-size: 0.75rem;
    }
}
/* --------------------------------------------------------------------------------- */


/* Base Table Styles */
table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

/* Responsive Tables */
@media (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    tr:nth-child(odd) {
        background: #f9f9f9;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: left;
        font-size: 0.875rem;
    }

    td:last-child {
        border-bottom: none;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        color: #555;
    }
}
/* --------------------------------------------------------------------------------------------------- */

/* Responsive Images */
.img-zero {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
/* -------------------------------------------------------------------------------------------------- */


/* List of contents */
.toc {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.toc h3 {
    margin-top: 0;
}

.toc ul {
    list-style-type: none;
    padding: 0;
}

.toc ul li {
    margin: 5px 0;
}

.toc ul li a {
    text-decoration: none;
    color: #007bff;
}

.toc ul li a:hover {
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------------- */


/* style for edit icon */
.edit-icon {
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 50;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    width: 53px;
    height: 53px;
    background-color: #333333;
}

.edit-icon i {
    color: white;
    font-size: 1.4375rem;
}
